.container {
    text-align:right;
    width: 100%;
}
.container .card{
    /* background-color: antiquewhite; */
    width: 80%;
    margin:auto ;
    margin-top: 10px;
}
.send button{
     margin: 10px;
}
a,p {
    color: white;
}